@import './variables.scss';

.aside-notebook {
    p:nth-child(1) {
        color: $blue_medium;
    }
    div {             
        background-color: #4FDC6F;
    }
    p:nth-child(2) {
        color: #363F5A;
    }
}
