@import './variables.scss';

.dropdown-arrow {
	color: #727A83;
	font-size: 20px;
	margin-left: 3px;
	line-height: 24px;
	text-align: center;
	width: 30px;
	height: 30px;
	display: inline-block;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
  }
  
  .nav {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #0052E01A;
    padding: 0 6px;
    height: 70px;
    width: 100%;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    z-index: 100;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px;
    img:nth-child(2) {
      display: none;
    }
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 4px 8px;
    margin: 20px 2px 13px 2px;
    text-decoration: none;
    color: #363F5A;
    &:hover {
            color: $blue_medium;
        }
        &:active {
            color: #363F5A;
            background: transparent linear-gradient(180deg, #5690FF 0%, $blue_medium 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 9px #387DFF80;
    border-radius: 20px;
    }     
    }
   
  
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:1104px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 26px 13px 13px 13px;;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      cursor: pointer;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: white;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  @media (max-width:480px) {
    .nav-title {
      img:nth-child(1), .dropdown-arrow {
        display: none;
      }
      img:nth-child(2) {
        display: block !important;
      }
    }
  }